.seccion-faq{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
    text-align: center;
    height: 100%;
    min-height: auto;
    padding: 3.5rem 0;
    max-width: calc(100% - 3rem);
    flex-direction: column;
}

.interior-faq{
    flex-basis: 50%;
    margin: auto;
    padding: 0;
    z-index: 1;
    width: 100%;
}

.titulo-faq{
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.contenedor-consultas{
    margin: 1.5rem 0 0;
}

.lista-preguntas{
    display: block;
    margin-block: 1em;
    margin-inline: 0px;
    padding-inline-start: 40px;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (min-width: 600px) {
    .seccion-faq{
        padding: 4.5rem 0;
        max-width: calc(100% - 4rem);
    }    
}

@media screen and (min-width: 960px) {
    .titulo-faq{
        font-size: 3rem;
        font-weight: 900;
    }    
}

@media screen and (min-width: 1280px) {
    .seccion-faq{
        max-width: calc(83.3% - 6rem);
    }    
}

@media screen and (min-width: 1920px) {
    .seccion-faq{
        max-width: calc(66.6% - 6rem);
    }    
}