* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Netflix Sans;
  src: url(./fonts/NetflixSans-Regular.otf);
}

@font-face {
  font-family: Netflix Sans;
  src: url(./fonts/NetflixSans-Bold.otf);
  font-weight: 700;
}

html, body{
  font-family: Netflix Sans, sans-serif;
  color: #fff;
  background-color: #000;
}

.App{
  text-align: center;
  min-height: 100vh;
}

.seccion-principal{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),
              url(./images/main-background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  border-bottom: #232323 solid 0.5rem;
  position: relative;
}

.bg-gradient{
  background: rgb(0 0 0 / 40%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.seccion-beneficios{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: calc(100% - 3rem);
}

.separador{
  position: absolute;
  left: 0;
  width: 100%;
  border-top: #232323 solid 0.5rem;
}

@media screen and (min-width: 1920px) {
  .seccion-beneficios{
      max-width: calc(66.6% - 6rem);
  }    
}